.movie-card {
    cursor: pointer;
    transition: transform 0.2s;
}

.movie-card:hover {
    transform: scale(1.05);
}

@media (max-width: 576px) {
    .movie-card {
        max-width: 100%;
        margin-bottom: 1rem;
    }
}

.movie-poster {
    border-radius: 5px;
}

.modal-content.dark-mode {
    background-color: #333333;
    color: #ffffff;
}